.new-article {
    width: 940px;
    height: 700px;

    margin: auto;
    margin-top: 34px;
    padding: 48px 32px;

    background-color: #ffffff;
    box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.61);
}

.new-article__title {
    font-size: 20px;
    font-weight: 600;

    display: flex;
    justify-content: center;

    margin-bottom: 28px;
}

/* .new-article__form {
    width: 100%;
    min-height: 100%;
} */

.new-article__label, .tags__label {
    font-size: 14px;
}

.new-article__input {
    height: 28px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.new-article__input_style,
.new-article__textarea_style {
    width: 100%;
    border: 1px solid #d9d9d9;
    padding-left: 12px;
    outline: 0;
}

.new-article__input::placeholder,
.new-article__textarea::placeholder {
    color: #d9d9d9;
}

.new-article__textarea {
    min-height: 168px;
    resize: none;

    margin-top: 5px;
    margin-bottom: 28px;
}

.tags {
    display: flex;
    flex-direction: row;
}

.tags__box {
    display: flex;
    flex-direction: column;
    width: 440px;
}

.tags__item {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    /* margin-bottom: 5px; */
}

/* .tags__item:last-child {
    margin: 0;
} */

.tags__input {
    width: 300px;
    height: 38px;

    border: 1px solid #d9d9d9;
    border-radius: 5px;

    padding-left: 12px;
    outline: 0;
    margin-top: 5px;
}

.tags__btn-del {
    width: 120px;

    margin-left: 18px;

    border: 1px solid #f5222d;
    color: #f5222d;
}

.tags__btn-del, .tags__btn-add {
    font-size: 16px;

    height: 40px;
    background-color: #ffffff;
    border-radius: 5px;
}

.tags__btn-del:hover, .tags__btn-add:hover {
    cursor: pointer;
}

.tags__btn-box {
    display: flex;
    justify-content: flex-start;
    align-self: flex-end;

    padding-left: 18px;
}

.tags__btn-add {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #1890ff;
    color: #1890ff;

    width: 136px;
}
