.post__box {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    width: 940px;
    height: 140px;
    padding: 15px 14px 24px 16px;

    background-color: #fff;
}

.post__box_shadow-margin {
    box-shadow: 8px 8px 13px -5px rgba(0,0,0,0.61);
    margin-top: 20px;
}

.post__box__content {
    display: flex;
    flex-direction: column;

    width: 75%;
}

.post__box__title__box {
    display: flex;
    flex-direction: row;

    min-width: 50%;
    /* border: 1px solid red; */
}

.post__box__title {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;

    margin: 0;
    color: #1890ff;
}

.post__box__favorites {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 13%;
}

.post__box__favorites::before {
    content: '';

    width: 17px;
    height: 17px;

    background: no-repeat url('../../assets/heart.png');

    position: relative;
    left: -5px;
}

.post__box__tags__box {
    display: flex;
    flex-direction: row;

    margin-top: 5px;
}

.post__box__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20px;

    box-sizing: border-box;
    background-color: rgb(254, 253, 253);

    font-size: 12px;
    font-weight: 400;
    
    border: 1px solid black;
    border-radius: 2px;

    padding: 2px 4px;
    margin-right: 10px;
}

.post__box__description {
    font-size: 12px;
    font-weight: 400;

    margin-top: 10px;
}

.post__box__author__box {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 25%;
}

.post__box__name {
    font-size: 18px;
}

.post__box__name__box {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 20px;
}

.post__box__img {
    width: 46px;
    height: 46px;
}

.post__box__created {
    font-size: 12px;
    opacity: 0.5;
}
