.article__header {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    width: 940px;
    height: 140px;
    padding: 15px 14px 24px 16px;

    background-color: #fff;
}

.article__header_margin {
    box-shadow: 8px 8px 13px -5px rgba(0,0,0,0.61);
    margin-top: 20px;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 20%;
}

.user__name {
    font-size: 18px;
}

.user__content {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 20px;
}

.user__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user__created {
    font-size: 12px;
    opacity: 0.5;
}
