.posts__list {
    display: flex;
    flex-direction: column;

    position: relative;

    width: 940px;
    height: 1050px;

    /* border: 1px solid red; */
    margin: auto;
    padding: 0;
}

.post__list__pagination {
    position: absolute;
    left: 450px;
    /* background-color: rgb(155, 143, 143); */
    /* bottom: 0; */
    top: 1050px;
}
 :where(.css-dev-only-do-not-override-qnu6hi).ant-pagination .ant-pagination-item {
    background-color: #ebeef3;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-pagination .ant-pagination-item-active a {
    color: #fff;
    background-color: #1677ff;
    /* border: none; */
    border-radius: 5px;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-pagination .ant-pagination-item-active {
    border: none;
    border-radius: 5px;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-pagination .ant-pagination-item-active a:hover {
    color: #fff;
    background-color: #438ffa;
}