.registration__form__box_high {
    min-height: 599px;
}

.registration__form__popup {
    position: absolute;
    top: -60px;
    left: 470px;
}

.registration__form__error {
    position: absolute;
    top: -60px;

    width: 100%;

    text-align: center;
}
