.registration__form__box_high {
    min-height: 599px;
}

.form__label-checkbox {
    display: flex;
    flex-direction: row;

    font-size: 14px;
    font-weight: 400;
}

.form__checkbox {
    appearance: none;
    width: 22px;
    height: 18px;
    background: url('../../assets/checkboxnull.png') no-repeat;
    background-size: cover;
    margin-right: 10px;
}

.form__checkbox:checked {
    width: 22px;
    height: 18px;
    background-color: #1890f5;
    border-radius: 3px;
}

.form__checkbox:checked::before {
    content: "";
    position: relative;
    left: 4px;
    top: -1px;
    display: inline-block;
    height: 4px;
    width: 8px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    
    transform: rotate(-45deg);
}

.form__label-text {
    margin-bottom: 20px;
}

